* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  height: 300px;
  background-color: rgb(201, 200, 200);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* flex-direction: column; */
}

.column-container {
  height: 300px;
  background-color: rgb(201, 200, 200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  height: 50px;
  aspect-ratio: 16/9;
  background-color: dodgerblue;
  border: 1px solid black;
}


/* Can't move me in the cross axis */

/* .bottom {
  justify-self: flex-end;
} */

.left {
  align-self: flex-start;
}


.container-grow {
  height: 200px;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
}

.container-grow > * {
  background-color: red;
  height: 75px;
  flex-basis: 50px;
  border: 1px solid black;
}

.grow {
  flex-grow: 2;
}

.grow-more {
  flex-grow: 4;
}