

header {
  height: 5rem;
  background-color: rgb(29, 29, 29);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 2rem ;
}

header ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

main.light {
  background-color: #f9f9f9;
}

a.active {
  text-shadow: 0 0 4px  rgb(77, 147, 216);
}