<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{appTitle}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <header>
      <nav><ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/shops'>All Shops</a></li>
          <li><a href='/shops/create'>Create shop</a></li>
          <li><a href='/guitars'>All guitars</a></li>
          <li><a href='/guitars/create'>Create a Guitar</a></li>
        </ul></nav>
    </header>

    {{{body}}}

    <script src='/js/script.js'></script>
  </body>

</html>