@import url('./reset.css');
@import url('./variables.css');

span.letter {
  font-size: 5rem;
}


h1 {
  color: var(--main-color)
}
p {
  color: var(--test-color)
}

a {
  color: var(--main-color)
}
code {
  color: var(--main-color)
}

