<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="stylesheet" href="/css/main.css">
    <title>Welcome to my website</title>
  </head>
  <body>
    {{#if navbar}}
     {{> navbar}}
    {{else}}
      <h2>You're lost, no navbar here!</h2>

    {{/if}}

    {{{body}}}

  </body>
</html>