* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  width: 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

form input,
form select {
  box-sizing: border-box;
  width: 100%;
  padding: .6rem;
  margin: 0;
  border-radius: 5px;
  border: 1px solid rgb(161, 165, 170);
}

form button {
  padding: .8rem 2.5rem;
  background-color: #00b7ff;
  border: none;
  border-radius: 5px;
  color: white;
}

.animals-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem;
}

.animals-list article {
  width: calc(30% - 1rem);
  max-width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(199, 203, 209);
  border-radius: 15px;
  padding: 1rem;
}

.animals-list img {
  height: 100%;
  object-fit: contain;
  display: block;
  padding: 1rem;
}